.gameform {
    display: flex;
    justify-content: space-around;
}

.gameItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #e8f5ee;
    height: 100px;
    width: 150px;
}

.unmatched {
    background-color: red;
}